<template>
  <div>
    <NuxtLayout>
      <NuxtPage />
    </NuxtLayout>
  </div>
</template>

<script setup lang="ts">

</script>

<style lang="scss">
/** Main layout */
// @import url('~/assets/styles.scss');
@import url('./assets/styles/main.scss');


</style>