<template>
    <div class="container">
        <h2> Example of Axios Call with typescript</h2>
        <div class="container_axios">
            <div v-for="key in Object.keys(user)" :key="key">
                {{ key }}: {{ user[key] }}
            </div>
            <img
                src="https://user-images.githubusercontent.com/43313420/105893220-1bae8780-6013-11eb-87be-eeac845ecc6f.png" />
        </div>
    </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { UserApi } from '~/api/modules/user';
import ApiResponse from '~/interfaces/response';
import User from '~/interfaces/user';
/** Typescript usage */
const response: ApiResponse = await UserApi.getUsers()
const user: User = ref(response.data);
</script>

<style lang="scss" scoped>
.container {
    margin: 20px;
    padding: 20px;
    width: fit-content;
    border: 1px solid grey;

    &_axios {
        margin: 5px;
        padding: 5px;
        border: 1px solid #88e89a;
        border-radius: 10px;
        background: #a6a6eb6b;
        position: relative;
        height: 300px;

        button {
            background: #d990fc;
            border-radius: 10px;
            border: 1px solid #f4cc35;
            color: white
        }

        img {
            position: absolute;
            height: 100px;
            width: 50px;
            top: 10px;
            right: 10px;
        }
    }
}</style>
