<template>
    <div class="container">
        <h2> Example of component with store</h2>
    <div class="container_store">
        <p>Count: {{ count }}</p>
        <button @click="increment()">Increment</button>
        <img src="https://pinia.vuejs.org/logo.svg" />
    </div>
    </div>
</template>

<script setup lang="ts">
/** Example of store */
// import useCounterStore
import { storeToRefs } from 'pinia'
import useCounterStore  from '~/store/index';

const counterStore = useCounterStore();
const { increment } = counterStore;
const { count } = storeToRefs(counterStore);
</script>

<style lang="scss" scoped>
.container {
    margin: 20px;
    padding: 20px;
    width: fit-content;
    border: 1px solid grey;
    &_store {
        margin: 5px;
        padding: 5px;
        border: 1px solid #88e89a;
        border-radius: 10px;
        background: #acebb8c0;
        position: relative;
        button {
            background: #d990fc;
            border-radius: 10px;
            border: 1px solid #f4cc35;
            color: white
        }
        img {
            position: absolute;
            height: 60px;
            top:10px;
            right: 10px;
        }
    }
}

</style>
