.slide-in-left,
.slide-in-right,
.slide-out-left,
.slide-out-right,
.slide-in-top,
.slide-in-bottom,
.fade-in,
.fade-out,
.bounce-in-top {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.42, 0, 0.33, 1.07);
}

.slide-in-left {
  animation-name: slide-in-left;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.slide-in-right {
  animation-name: slide-in-right;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.slide-out-left {
  animation-name: slide-out-left;
}

@keyframes slide-out-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.slide-out-right {
  animation-name: slide-out-right;
}

@keyframes slide-out-right {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

.slide-in-top {
  animation-name: slide-in-top;
}

@keyframes slide-in-top {
  from {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(0);
  }
}

.slide-in-bottom {
  animation-name: slide-in-bottom;
}

@keyframes slide-in-bottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.fade-in {
  animation-name: fade-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  animation-name: fade-out;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.bounce-in-top {
  animation-name: bounce-in-top;
}

@keyframes bounce-in-top {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  50% {
    opacity: 0.8;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
