@font-face {
  font-family: 'Queens Trial';
  src: local('Queens Trial'), url('../fonts/Queens_Trial/QueensTrial-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Queens Trial Bold';
  src: local('Queens Trial Bold'), url('../fonts/Queens_Trial/QueensTrial-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Queens Trial Light';
  src: local('Queens Trial Light'), url('../fonts/Queens_Trial/QueensTrial-Light.ttf') format('opentype');
}

@font-face {
  font-family: 'RM Neue';
  src: local('RM Neue'), url('../fonts/RM Neue/Other/RMNeue-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'RM Neue Bold';
  src: local('RM Neue Bold'), url('../fonts/RM Neue/Other/RMNeue-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'RM Neue Light';
  src: local('RM Neue Light'), url('../fonts/RM Neue/Other/RMNeue-Light.otf') format('opentype');
}
