.arrow-back-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='450' height='450' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath id='svg_1' d='m334.83301,54.82399l-170.17,170.17l170.17,170.17c9.1133,9.1133 9.1133,23.887 0,32.996c-9.1133,9.1133 -23.887,9.1133 -32.996,0l-186.67,-186.66c-9.1133,-9.1133 -9.1133,-23.887 0,-33l186.67,-186.66c9.1094,-9.1133 23.883,-9.1133 32.996,0c9.1133,9.1094 9.1133,23.883 0,32.996l0,-0.012z'/%3E%3C/g%3E%3C/svg%3E");
}

.arrow-back-long-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='500' height='500' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath id='svg_27' d='m478.89324,241.13077l-437.32,0l62.152,-62.152c3.2812,-3.2773 3.2812,-8.5977 0,-11.879s-8.5977,-3.2812 -11.879,0l-75.578,75.582c-2.1523,1.5195 -3.5664,4.0156 -3.5664,6.8516c0,0.04297 0.01172,0.08203 0.01172,0.125c0,0.09375 0.02344,0.17969 0.02734,0.26953c0.03907,0.82031 0.19922,1.6055 0.45703,2.3477c0.15234,0.47266 0.37109,0.89844 0.60547,1.3398c0.21094,0.37891 0.44922,0.73438 0.71484,1.0742c0.23828,0.31641 0.35938,0.68359 0.64453,0.97266l77.238,77.238c1.6406,1.6406 3.7891,2.4609 5.9375,2.4609c2.1484,0 4.2969,-0.82031 5.9375,-2.4609c3.2812,-3.2812 3.2812,-8.5977 0,-11.879l-63.086,-63.09l437.71,0c4.6367,0 8.3984,-3.7617 8.3984,-8.3984c0,-4.6406 -3.7617,-8.4023 -8.4023,-8.4023l-0.00263,0.00021z'/%3E%3C/g%3E%3C/svg%3E");
}

.arrow-up-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='23px' height='13px' viewBox='0 0 23 13' version='1.1'%3E%3Ctitle%3EPath%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Icons/expand_less' fill='%23000000' fill-rule='nonzero'%3E%3Cpath d='M0.476315789,12.45 C0.176315789,12.15 0.0179824561,11.8 0.00131578947,11.4 C-0.0153508772,11 0.126315789,10.65 0.426315789,10.35 L10.3263158,0.45 C10.4929825,0.283333333 10.6596491,0.166666667 10.8263158,0.1 C10.9929825,0.0333333333 11.1763158,0 11.3763158,0 C11.5763158,0 11.7596491,0.0333333333 11.9263158,0.1 C12.0929825,0.166666667 12.2596491,0.283333333 12.4263158,0.45 L22.3263158,10.3 C22.6263158,10.5666667 22.7763158,10.9083333 22.7763158,11.325 C22.7763158,11.7416667 22.6263158,12.1 22.3263158,12.4 C22.0263158,12.7 21.6679825,12.85 21.2513158,12.85 C20.8346491,12.85 20.4763158,12.7 20.1763158,12.4 L11.3763158,3.65 L2.57631579,12.5 C2.30964912,12.8 1.96798246,12.9416667 1.55131579,12.925 C1.13464912,12.9083333 0.776315789,12.75 0.476315789,12.45 L0.476315789,12.45 Z' id='Path'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.arrow-down-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='23px' height='13px' viewBox='0 0 23 13' version='1.1'%3E%3Ctitle%3EPath%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Icons/expand_more_rounded' fill='%23000000' fill-rule='nonzero'%3E%3Cpath d='M11.3264706,12.9347826 C11.1264706,12.9347826 10.9431373,12.9014493 10.7764706,12.8347826 C10.6098039,12.7681159 10.4431373,12.6514493 10.2764706,12.4847826 L0.376470588,2.58478261 C0.109803922,2.31811594 -0.0151960784,1.95978261 0.00147058824,1.50978261 C0.0181372549,1.05978261 0.159803922,0.701449275 0.426470588,0.434782609 C0.759803922,0.101449275 1.11813725,-0.0402173913 1.50147059,0.0097826087 C1.88480392,0.0597826087 2.22647059,0.218115942 2.52647059,0.484782609 L11.3264706,9.28478261 L20.1264706,0.484782609 C20.3931373,0.218115942 20.7514706,0.068115942 21.2014706,0.0347826087 C21.6514706,0.00144927536 22.0098039,0.151449275 22.2764706,0.484782609 C22.6098039,0.751449275 22.7514706,1.10144928 22.7014706,1.53478261 C22.6514706,1.96811594 22.4931373,2.33478261 22.2264706,2.63478261 L12.3764706,12.4847826 C12.2098039,12.6514493 12.0431373,12.7681159 11.8764706,12.8347826 C11.7098039,12.9014493 11.5264706,12.9347826 11.3264706,12.9347826 L11.3264706,12.9347826 Z' id='Path'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.back-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='600' height='600' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath stroke='%23000000' fill='%23000000' d='m218.99728,300.0115l215.86,-215.86c10.051,-10.051 10.074,-26.191 0.13281,-36.133c-10.008,-10.008 -26.117,-9.8789 -36.133,0.13672l-233.85,233.85c-4.9844,4.9844 -7.4531,11.477 -7.4414,17.977c0.01172,6.5898 2.4922,13.074 7.4414,18.023l233.85,233.85c10.055,10.055 26.191,10.078 36.133,0.13672c10.012,-10.012 9.8828,-26.117 -0.13281,-36.133l-215.86,-215.84744z' fill-rule='evenodd' id='svg_1'/%3E%3C/g%3E%3C/svg%3E");
}

.box-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewBox='0 0 24 24' version='1.1'%3E%3Ctitle%3Einventory_2_FILL0_wght500_GRAD0_opsz48%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='AMM/Sintetiche-bar/Sintetiche-bar' transform='translate(-1024.000000, -43.000000)' fill='%23000000' fill-rule='nonzero'%3E%3Cg id='Group-8' transform='translate(1024.000000, 35.000000)'%3E%3Cg id='inventory_2_FILL0_wght500_GRAD0_opsz48' transform='translate(0.000000, 8.000000)'%3E%3Cpath d='M3.19211823,24 C2.66009852,24 2.19211823,23.7835178 1.78817734,23.3505535 C1.38423645,22.9175892 1.18226601,22.4452645 1.18226601,21.9335793 L1.18226601,7.46863469 C0.906403941,7.4095941 0.640394089,7.19803198 0.384236453,6.83394834 C0.128078818,6.4698647 0,6.06150062 0,5.60885609 L0,2.00738007 C0,1.47601476 0.201970443,1.00861009 0.60591133,0.605166052 C1.00985222,0.201722017 1.47783251,0 2.00985222,0 L21.9901478,0 C22.5221675,0 22.9901478,0.201722017 23.3940887,0.605166052 C23.7980296,1.00861009 24,1.47601476 24,2.00738007 L24,5.60885609 C24,6.06150062 23.8719212,6.4698647 23.6157635,6.83394834 C23.3596059,7.19803198 23.0935961,7.4095941 22.817734,7.46863469 L22.817734,21.9335793 C22.817734,22.4452645 22.6157635,22.9175892 22.2118227,23.3505535 C21.8078818,23.7835178 21.3399015,24 20.8078818,24 L3.19211823,24 Z M3.19211823,7.61623616 L3.19211823,21.9926199 L20.8078818,21.9926199 L20.8078818,7.61623616 L3.19211823,7.61623616 Z M21.9901478,5.60885609 L21.9901478,2.00738007 L2.00985222,2.00738007 L2.00985222,5.60885609 L21.9901478,5.60885609 Z M9.28078818,13.7269373 L14.7192118,13.7269373 C14.9753695,13.7269373 15.1921182,13.6383764 15.3694581,13.4612546 C15.546798,13.2841328 15.635468,13.0676507 15.635468,12.8118081 C15.635468,12.5362854 15.546798,12.3148831 15.3694581,12.1476015 C15.1921182,11.9803198 14.9753695,11.896679 14.7192118,11.896679 L9.28078818,11.896679 C9.02463054,11.896679 8.80788177,11.9803198 8.63054187,12.1476015 C8.45320197,12.3148831 8.36453202,12.5362854 8.36453202,12.8118081 C8.36453202,13.0676507 8.45320197,13.2841328 8.63054187,13.4612546 C8.80788177,13.6383764 9.02463054,13.7269373 9.28078818,13.7269373 Z M3.19211823,21.9926199 L3.19211823,7.61623616 L3.19211823,21.9926199 Z' id='Shape'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.calendar-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='18px' height='20px' viewBox='0 0 18 20' version='1.1'%3E%3Ctitle%3Ecalendar / calendar%3C/title%3E%3Cdefs%3E%3Crect id='path-1' x='0' y='0' width='24' height='24'/%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Calendar/Light' transform='translate(-9.000000, -8.000000)'%3E%3Cg id='calendar-/-calendar' transform='translate(6.000000, 6.000000)'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'/%3E%3C/mask%3E%3Cg id='calendar-/-calendar-(Background/Mask)'/%3E%3Cpath d='M9,12 L9,14 L7,14 L7,12 L9,12 Z M9,16 L9,18 L7,18 L7,16 L9,16 Z M11,12 L11,14 L13,14 L13,12 L11,12 Z M13,16 L13,18 L11,18 L11,16 L13,16 Z M15,12 L15,14 L17,14 L17,12 L15,12 Z M17,16 L17,18 L15,18 L15,16 L17,16 Z M19,22 L5,22 C3.89699984,22 3,21.1030006 3,20 L3,6 C3,4.89699984 3.89699984,4 5,4 L7,4 L7,2 L9,2 L9,4 L15,4 L15,2 L17,2 L17,4 L19,4 C20.1030006,4 21,4.89699984 21,6 L21,20 C21,21.1030006 20.1030006,22 19,22 L19,22 Z M19.0001431,8 L19,6 L5,6 L5,8 L19.0001431,8 L19.0001431,8 Z M19.0002861,10 L19.0009995,20 L5,20 L5,10 L19.0002861,10 L19.0002861,10 Z' fill='%23000000' mask='url(%23mask-2)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.check-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='20' height='20' viewBox='0 0 20 20'%3E%3Ctitle%3Echeckmark%3C/title%3E%3Cpath d='M0 11l2-2 5 5 11-11 2 2-13 13z'/%3E%3C/svg%3E");
}

.close-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='10px' height='10px' viewBox='0 0 10 10' version='1.1'%3E%3Ctitle%3ECombined Shape%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Icons/close' transform='translate(-1.000000, -1.000000)' fill='%23000000' fill-rule='nonzero'%3E%3Cpath d='M8.91564794,1.67965295 C9.30816559,1.36882749 9.88001099,1.39472961 10.2426407,1.75735931 C10.633165,2.1478836 10.633165,2.78104858 10.2426407,3.17157288 L7.41446609,5.99946609 L10.2426407,8.82842712 C10.633165,9.21895142 10.633165,9.8521164 10.2426407,10.2426407 C9.88001099,10.6052704 9.30816559,10.6311725 8.91564794,10.3203471 L8.82842712,10.2426407 L5.99946609,7.41446609 L3.17157288,10.2426407 L3.08435206,10.3203471 C2.69183441,10.6311725 2.11998901,10.6052704 1.75735931,10.2426407 C1.36683502,9.8521164 1.36683502,9.21895142 1.75735931,8.82842712 L4.58446609,5.99946609 L1.75735931,3.17157288 C1.36683502,2.78104858 1.36683502,2.1478836 1.75735931,1.75735931 C2.11998901,1.39472961 2.69183441,1.36882749 3.08435206,1.67965295 L3.17157288,1.75735931 L5.99946609,4.58446609 L8.82842712,1.75735931 Z' id='Combined-Shape'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.document-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='18px' height='23px' viewBox='0 0 18 23' version='1.1'%3E%3Ctitle%3EGroup%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Icons/file-text' fill='%23000000' fill-rule='nonzero'%3E%3Cg id='Group' transform='translate(1.000000, 1.000000)'%3E%3Cpath d='M10,-1 L2,-1 C0.331938437,-1 -1,0.398535359 -1,2.1 L-1,18.9 C-1,20.6014646 0.331938437,22 2,22 L14,22 C15.6680616,22 17,20.6014646 17,18.9 L17,6.3 C17,6.04322346 16.9012252,5.79628646 16.7241379,5.61034483 L10.7241379,-0.689655172 C10.5353952,-0.887835023 10.2736769,-1 10,-1 Z M9.571,1 L15,6.7 L15,18.9 C15,19.5181313 14.5410774,20 14,20 L2,20 C1.45892256,20 1,19.5181313 1,18.9 L1,2.1 C1,1.48186869 1.45892256,1 2,1 L9.571,1 Z' id='Path'/%3E%3Cpath d='M10,-1 C10.5128358,-1 10.9355072,-0.61395981 10.9932723,-0.116621125 L11,5.32907052e-15 L11,5.3 L16,5.3 C16.5128358,5.3 16.9355072,5.68604019 16.9932723,6.18337887 L17,6.3 C17,6.81283584 16.6139598,7.23550716 16.1166211,7.29327227 L16,7.3 L10,7.3 C9.48716416,7.3 9.06449284,6.91395981 9.00672773,6.41662113 L9,6.3 L9,5.32907052e-15 C9,-0.55228475 9.44771525,-1 10,-1 Z' id='Path'/%3E%3Cpath d='M12,10.55 C12.5522847,10.55 13,10.9977153 13,11.55 C13,12.0628358 12.6139598,12.4855072 12.1166211,12.5432723 L12,12.55 L4,12.55 C3.44771525,12.55 3,12.1022847 3,11.55 C3,11.0371642 3.38604019,10.6144928 3.88337887,10.5567277 L4,10.55 L12,10.55 Z' id='Path'/%3E%3Cpath d='M12,14.75 C12.5522847,14.75 13,15.1977153 13,15.75 C13,16.2628358 12.6139598,16.6855072 12.1166211,16.7432723 L12,16.75 L4,16.75 C3.44771525,16.75 3,16.3022847 3,15.75 C3,15.2371642 3.38604019,14.8144928 3.88337887,14.7567277 L4,14.75 L12,14.75 Z' id='Path'/%3E%3Cpath d='M6,6.35 C6.55228475,6.35 7,6.79771525 7,7.35 C7,7.86283584 6.61395981,8.28550716 6.11662113,8.34327227 L6,8.35 L4,8.35 C3.44771525,8.35 3,7.90228475 3,7.35 C3,6.83716416 3.38604019,6.41449284 3.88337887,6.35672773 L4,6.35 L6,6.35 Z' id='Path'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.edit-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16px' height='16px' viewBox='0 0 16 16' version='1.1'%3E%3Ctitle%3EShape%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Icons/edit' fill='%23000000' fill-rule='nonzero'%3E%3Cpath d='M1.30968622,14.6903138 L2.27012278,14.6903138 L11.9399727,5.02046385 L10.9795362,4.06002729 L1.30968622,13.7298772 L1.30968622,14.6903138 Z M14.7121419,4.08185539 L11.9181446,1.28785812 L12.834925,0.371077763 C13.0823101,0.123692588 13.3879036,0 13.7517053,0 C14.115507,0 14.4211005,0.123692588 14.6684857,0.371077763 L15.6289222,1.33151432 C15.8763074,1.5788995 16,1.88449295 16,2.24829468 C16,2.61209641 15.8763074,2.91768986 15.6289222,3.16507503 L14.7121419,4.08185539 Z M13.7953615,4.99863574 L2.79399727,16 L0,16 L0,13.2060027 L11.0013643,2.20463847 L13.7953615,4.99863574 Z M11.4597544,4.54024557 L10.9795362,4.06002729 L11.9399727,5.02046385 L11.4597544,4.54024557 Z' id='Shape'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E ");
}

.excel-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='22px' height='23px' viewBox='0 0 22 23' version='1.1'%3E%3Ctitle%3EGroup%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Icons/Excell' fill='%23000000' fill-rule='nonzero'%3E%3Cg id='Group' transform='translate(0.036750, 0.036750)'%3E%3Cpath d='M20.3519768,6.26325 C20.9042616,6.26325 21.3519768,6.71096525 21.3519768,7.26325 C21.3519768,7.77608584 20.9659366,8.19875716 20.468598,8.25652227 L20.3519768,8.26325 L1.66646807,8.26325 C1.11418332,8.26325 0.666468072,7.81553475 0.666468072,7.26325 C0.666468072,6.75041416 1.05250826,6.32774284 1.54984695,6.26997773 L1.66646807,6.26325 L20.3519768,6.26325 Z' id='Path'/%3E%3Cpath d='M20.3519768,11.09325 C20.9042616,11.09325 21.3519768,11.5409653 21.3519768,12.09325 C21.3519768,12.6060858 20.9659366,13.0287572 20.468598,13.0865223 L20.3519768,13.09325 L1.66646807,13.09325 C1.11418332,13.09325 0.666468072,12.6455347 0.666468072,12.09325 C0.666468072,11.5804142 1.05250826,11.1577428 1.54984695,11.0999777 L1.66646807,11.09325 L20.3519768,11.09325 Z' id='Path'/%3E%3Cpath d='M20.3519768,16.02825 C20.9042616,16.02825 21.3519768,16.4759653 21.3519768,17.02825 C21.3519768,17.5410858 20.9659366,17.9637572 20.468598,18.0215223 L20.3519768,18.02825 L1.66646807,18.02825 C1.11418332,18.02825 0.666468072,17.5805347 0.666468072,17.02825 C0.666468072,16.5154142 1.05250826,16.0927428 1.54984695,16.0349777 L1.66646807,16.02825 L20.3519768,16.02825 Z' id='Path'/%3E%3Cpath d='M19.2469199,0 L2.67106532,0 C1.22518164,0 0,1.2805537 0,2.74825 L0,20.17825 C0,21.675001 1.14948794,22.9265 2.67106532,22.9265 L19.3473796,22.9265 C20.8571318,22.9265 22.0645659,21.559329 21.9136065,19.9815091 L21.9179852,2.74825 C21.9179852,1.25149898 20.7684972,0 19.2469199,0 Z M2.67106532,1.9265 L19.2469199,1.9265 C19.6662244,1.9265 19.9914852,2.28062602 19.9914852,2.74825 L19.9914852,20.07325 C20.0397813,20.6240131 19.7077238,21 19.3473796,21 L2.67106532,21 C2.25176082,21 1.9265,20.645874 1.9265,20.17825 L1.9265,2.74825 C1.9265,2.3259463 2.30867395,1.9265 2.67106532,1.9265 Z' id='Path'/%3E%3Cpath d='M7.89497099,6.26325 C8.40780683,6.26325 8.83047815,6.64929019 8.88824326,7.14662887 L8.89497099,7.26325 L8.89497099,21.64825 C8.89497099,22.2005347 8.44725574,22.64825 7.89497099,22.64825 C7.38213515,22.64825 6.95946383,22.2622098 6.90169872,21.7648711 L6.89497099,21.64825 L6.89497099,7.26325 C6.89497099,6.71096525 7.34268624,6.26325 7.89497099,6.26325 Z' id='Path'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.euro-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='18px' height='17px' viewBox='0 0 18 17' version='1.1'%3E%3Ctitle%3Eeuro_FILL0_wght500_GRAD0_opsz48%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='AMM/Sintetiche-bar/Sintetiche-bar' transform='translate(-443.000000, -47.000000)' fill='%23000000' fill-rule='nonzero'%3E%3Cg id='Group-4' transform='translate(443.000000, 35.000000)'%3E%3Cg id='euro_FILL0_wght500_GRAD0_opsz48' transform='translate(0.000000, 12.000000)'%3E%3Cpath d='M12.6082298,17 C10.615342,17 8.87156514,16.4619763 7.37689927,15.385929 C5.88223341,14.3098816 4.90186117,12.8970856 4.43578257,11.147541 L0.771440447,11.147541 C0.546436983,11.147541 0.36161271,11.0817395 0.216967626,10.9501366 C0.0723225419,10.8185337 0,10.6443534 0,10.4275956 C0,10.2108379 0.0723225419,10.0366576 0.216967626,9.90505464 C0.36161271,9.77345173 0.546436983,9.70765027 0.771440447,9.70765027 L4.09827737,9.70765027 C4.06613402,9.52185792 4.04202651,9.3167122 4.02595483,9.09221311 C4.00988316,8.86771403 4.00184732,8.67030965 4.00184732,8.5 C4.00184732,8.32969035 4.00988316,8.13228597 4.02595483,7.90778689 C4.04202651,7.6832878 4.06613402,7.47814208 4.09827737,7.29234973 L0.771440447,7.29234973 C0.546436983,7.29234973 0.36161271,7.22654827 0.216967626,7.09494536 C0.0723225419,6.96334244 0,6.78916211 0,6.57240437 C0,6.35564663 0.0723225419,6.1814663 0.216967626,6.04986339 C0.36161271,5.91826047 0.546436983,5.85245902 0.771440447,5.85245902 L4.43578257,5.85245902 C4.9500762,4.0564663 5.93446636,2.63205829 7.38895303,1.57923497 C8.84343971,0.526411658 10.5831986,0 12.6082298,0 C13.5725304,0 14.4765621,0.123861566 15.3203251,0.371584699 C16.1640881,0.619307832 16.9395465,1.00637523 17.6467002,1.53278689 C17.8717037,1.68761384 17.9882233,1.90050091 17.9962592,2.17144809 C18.004295,2.44239526 17.903847,2.67850638 17.6949153,2.87978142 C17.5341985,3.05009107 17.3333025,3.13911658 17.0922274,3.14685792 C16.8511523,3.15459927 16.618113,3.08879781 16.3931095,2.94945355 C15.8627442,2.57786885 15.2721101,2.29918033 14.6212072,2.11338798 C13.9703043,1.92759563 13.2993119,1.83469945 12.6082298,1.83469945 C11.0814206,1.83469945 9.77961483,2.19080146 8.70281254,2.90300546 C7.62601025,3.61520947 6.88671316,4.59836066 6.48492126,5.85245902 L12.6805523,5.85245902 C12.8894841,5.85245902 13.0662726,5.91826047 13.2109177,6.04986339 C13.3555627,6.1814663 13.4278853,6.35564663 13.4278853,6.57240437 C13.4278853,6.78916211 13.3555627,6.96334244 13.2109177,7.09494536 C13.0662726,7.22654827 12.8894841,7.29234973 12.6805523,7.29234973 L6.02687849,7.29234973 C5.97866346,7.47814208 5.94652011,7.67941712 5.93044844,7.89617486 C5.91437676,8.1129326 5.90634092,8.31420765 5.90634092,8.5 C5.90634092,8.68579235 5.91437676,8.8870674 5.93044844,9.10382514 C5.94652011,9.32058288 5.97866346,9.52185792 6.02687849,9.70765027 L12.6805523,9.70765027 C12.8894841,9.70765027 13.0662726,9.77345173 13.2109177,9.90505464 C13.3555627,10.0366576 13.4278853,10.2108379 13.4278853,10.4275956 C13.4278853,10.6443534 13.3555627,10.8185337 13.2109177,10.9501366 C13.0662726,11.0817395 12.8894841,11.147541 12.6805523,11.147541 L6.48492126,11.147541 C6.90278483,12.4480874 7.67020736,13.4428506 8.78718884,14.1318306 C9.90417032,14.8208106 11.1778506,15.1653005 12.6082298,15.1653005 C13.2993119,15.1653005 13.9743223,15.0724044 14.633261,14.886612 C15.2921997,14.7008197 15.9029234,14.4143898 16.465432,14.0273224 C16.6582922,13.8879781 16.8712419,13.8260474 17.1042812,13.8415301 C17.3373205,13.8570128 17.5422343,13.9421676 17.7190228,14.0969945 C17.9279546,14.2982696 18.0203667,14.5382514 17.9962592,14.8169399 C17.9721517,15.0956284 17.8395603,15.3123862 17.5984852,15.4672131 C16.8270448,15.9936248 16.0274789,16.3806922 15.1997876,16.6284153 C14.3720962,16.8761384 13.5082437,17 12.6082298,17 L12.6082298,17 Z' id='Path'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.filter-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='21px' viewBox='0 0 20 21' version='1.1'%3E%3Ctitle%3EIcon/Excell%3C/title%3E%3Cg id='Amministratore/Prodotti-e-Produttori' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='AMM/Prodotti-e-Produttori/Variante' transform='translate(-1305.000000, -1059.000000)' fill='%23000000' fill-rule='nonzero'%3E%3Cg id='Button/Action-only-icon-Copy' transform='translate(1297.000000, 1052.000000)'%3E%3Cg id='Icon/Excell' transform='translate(8.000000, 7.000000)'%3E%3Cpath d='M8.7020202,21 C8.35858586,21 8.07070707,20.8742187 7.83838384,20.6226562 C7.60606061,20.3710938 7.48989899,20.059375 7.48989899,19.6875 L7.48989899,11.8125 L0.247474747,1.8046875 C-0.0353535354,1.4328125 -0.0757575758,1.0390625 0.126262626,0.6234375 C0.328282828,0.2078125 0.641414141,0 1.06565657,0 L18.7626263,0 C19.1868687,0 19.5,0.2078125 19.7020202,0.6234375 C19.9040404,1.0390625 19.8636364,1.4328125 19.5808081,1.8046875 L12.3383838,11.8125 L12.3383838,19.6875 C12.3383838,20.059375 12.2222222,20.3710938 11.989899,20.6226562 C11.7575758,20.8742187 11.469697,21 11.1262626,21 L8.7020202,21 Z M9.91414141,11.94375 L17.1868687,1.96875 L2.64141414,1.96875 L9.91414141,11.94375 Z' id='Shape'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.forward-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='600' height='600' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath transform='rotate(180 300 300)' id='svg_1' fill-rule='evenodd' d='m218.99728,300.0115l215.86,-215.86c10.051,-10.051 10.074,-26.191 0.13281,-36.133c-10.008,-10.008 -26.117,-9.8789 -36.133,0.13672l-233.85,233.85c-4.9844,4.9844 -7.4531,11.477 -7.4414,17.977c0.01172,6.5898 2.4922,13.074 7.4414,18.023l233.85,233.85c10.055,10.055 26.191,10.078 36.133,0.13672c10.012,-10.012 9.8828,-26.117 -0.13281,-36.133l-215.86,-215.84744z' fill='%23000000' stroke='%23000000'/%3E%3C/g%3E%3C/svg%3E");
}

.inventory-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='23px' height='24px' viewBox='0 0 23 24' version='1.1'%3E%3Ctitle%3Einventory_FILL0_wght500_GRAD0_opsz48%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='AMM/Sintetiche-bar/Sintetiche-bar' transform='translate(-834.000000, -43.000000)' fill='%23000000' fill-rule='nonzero'%3E%3Cg id='Group-7' transform='translate(834.000000, 35.000000)'%3E%3Cg id='inventory_FILL0_wght500_GRAD0_opsz48' transform='translate(0.000000, 8.000000)'%3E%3Cpath d='M9.39561856,24 L2.01546392,24 C1.48195876,24 1.01267182,23.7937107 0.607603093,23.3811321 C0.202534364,22.9685535 0,22.4805031 0,21.9169811 L0,4.49811321 C0,3.93459119 0.177835052,3.44654088 0.533505155,3.03396226 C0.889175258,2.62138365 1.20532646,2.41509434 1.48195876,2.41509434 L7.26159794,2.41509434 C7.41967354,1.71069182 7.78522337,1.13207547 8.35824742,0.679245283 C8.93127148,0.226415094 9.58333333,0 10.314433,0 C11.0455326,0 11.6926546,0.226415094 12.255799,0.679245283 C12.8189433,1.13207547 13.189433,1.71069182 13.367268,2.41509434 L19.1469072,2.41509434 C19.7001718,2.41509434 20.1743986,2.62138365 20.5695876,3.03396226 C20.9647766,3.44654088 21.1623711,3.93459119 21.1623711,4.49811321 L21.1623711,10.5358491 L19.1469072,10.5358491 L19.1469072,4.49811321 L16.0051546,4.49811321 L16.0051546,6.49056604 C16.0051546,7.01383648 15.8223797,7.46666667 15.4568299,7.8490566 C15.0912801,8.23144654 14.6417526,8.42264151 14.1082474,8.42264151 L7.05412371,8.42264151 C6.54037801,8.42264151 6.09579038,8.23144654 5.72036082,7.8490566 C5.34493127,7.46666667 5.15721649,7.01383648 5.15721649,6.49056604 L5.15721649,4.49811321 L2.01546392,4.49811321 L2.01546392,21.9169811 L9.39561856,21.9169811 L9.39561856,24 Z M14.9974227,20.2566038 L21.310567,13.7962264 C21.5081615,13.5949686 21.7403351,13.4993711 22.0070876,13.509434 C22.2738402,13.5194969 22.5060137,13.6251572 22.7036082,13.8264151 C22.9012027,14.027673 23,14.2691824 23,14.5509434 C23,14.8327044 22.9012027,15.0742138 22.7036082,15.2754717 L15.7087629,22.4 C15.5111684,22.6213836 15.274055,22.7320755 14.9974227,22.7320755 C14.7207904,22.7320755 14.483677,22.6213836 14.2860825,22.4 L10.8775773,18.9283019 C10.6799828,18.727044 10.5861254,18.4855346 10.5960052,18.2037736 C10.6058849,17.9220126 10.709622,17.6805031 10.9072165,17.4792453 C11.104811,17.2779874 11.3419244,17.1773585 11.6185567,17.1773585 C11.895189,17.1773585 12.1323024,17.2779874 12.3298969,17.4792453 L14.9974227,20.2566038 Z M10.8479381,4.28679245 C11.1838488,4.28679245 11.465421,4.17106918 11.6926546,3.93962264 C11.9198883,3.7081761 12.0335052,3.42138365 12.0335052,3.07924528 C12.0335052,2.73710692 11.9198883,2.45031447 11.6926546,2.21886792 C11.465421,1.98742138 11.1838488,1.87169811 10.8479381,1.87169811 C10.5120275,1.87169811 10.2304553,1.98742138 10.0032216,2.21886792 C9.77598797,2.45031447 9.66237113,2.73710692 9.66237113,3.07924528 C9.66237113,3.42138365 9.77598797,3.7081761 10.0032216,3.93962264 C10.2304553,4.17106918 10.5120275,4.28679245 10.8479381,4.28679245 Z' id='Shape'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.list-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px' viewBox='0 0 20 20' version='1.1'%3E%3Ctitle%3Elist_alt_FILL0_wght500_GRAD0_opsz48%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='AMM/Sintetiche-bar/Sintetiche-bar' transform='translate(-255.000000, -45.000000)' fill='%23000' fill-rule='nonzero'%3E%3Cg id='Group-5' transform='translate(255.000000, 35.000000)'%3E%3Cg id='list_alt_FILL0_wght500_GRAD0_opsz48' transform='translate(0.000000, 10.000000)'%3E%3Cpath d='M1.8579235,20 C1.36612022,20 0.933515483,19.8132969 0.56010929,19.4398907 C0.186703097,19.0664845 0,18.6338798 0,18.1420765 L0,1.8579235 C0,1.34790528 0.186703097,0.910746812 0.56010929,0.546448087 C0.933515483,0.182149362 1.36612022,0 1.8579235,0 L18.1420765,0 C18.6520947,0 19.0892532,0.182149362 19.4535519,0.546448087 C19.8178506,0.910746812 20,1.34790528 20,1.8579235 L20,18.1420765 C20,18.6338798 19.8178506,19.0664845 19.4535519,19.4398907 C19.0892532,19.8132969 18.6520947,20 18.1420765,20 L1.8579235,20 Z M1.8579235,18.1420765 L18.1420765,18.1420765 L18.1420765,1.8579235 L1.8579235,1.8579235 L1.8579235,18.1420765 Z M5.08196721,15.273224 C5.30054645,15.273224 5.49180328,15.1912568 5.6557377,15.0273224 C5.81967213,14.863388 5.90163934,14.6721311 5.90163934,14.4535519 C5.90163934,14.2349727 5.81967213,14.0437158 5.6557377,13.8797814 C5.49180328,13.715847 5.30054645,13.6338798 5.08196721,13.6338798 C4.86338798,13.6338798 4.67213115,13.715847 4.50819672,13.8797814 C4.3442623,14.0437158 4.26229508,14.2349727 4.26229508,14.4535519 C4.26229508,14.6721311 4.3442623,14.863388 4.50819672,15.0273224 C4.67213115,15.1912568 4.86338798,15.273224 5.08196721,15.273224 Z M5.08196721,10.8196721 C5.30054645,10.8196721 5.49180328,10.7377049 5.6557377,10.5737705 C5.81967213,10.4098361 5.90163934,10.2185792 5.90163934,10 C5.90163934,9.78142077 5.81967213,9.59016393 5.6557377,9.42622951 C5.49180328,9.26229508 5.30054645,9.18032787 5.08196721,9.18032787 C4.86338798,9.18032787 4.67213115,9.26229508 4.50819672,9.42622951 C4.3442623,9.59016393 4.26229508,9.78142077 4.26229508,10 C4.26229508,10.2185792 4.3442623,10.4098361 4.50819672,10.5737705 C4.67213115,10.7377049 4.86338798,10.8196721 5.08196721,10.8196721 Z M5.08196721,6.36612022 C5.30054645,6.36612022 5.49180328,6.28415301 5.6557377,6.12021858 C5.81967213,5.95628415 5.90163934,5.76502732 5.90163934,5.54644809 C5.90163934,5.32786885 5.81967213,5.13661202 5.6557377,4.9726776 C5.49180328,4.80874317 5.30054645,4.72677596 5.08196721,4.72677596 C4.86338798,4.72677596 4.67213115,4.80874317 4.50819672,4.9726776 C4.3442623,5.13661202 4.26229508,5.32786885 4.26229508,5.54644809 C4.26229508,5.76502732 4.3442623,5.95628415 4.50819672,6.12021858 C4.67213115,6.28415301 4.86338798,6.36612022 5.08196721,6.36612022 Z M9.50819672,15.273224 L14.5355191,15.273224 C14.7723133,15.273224 14.9681239,15.1912568 15.1229508,15.0273224 C15.2777778,14.863388 15.3551913,14.6721311 15.3551913,14.4535519 C15.3551913,14.2167577 15.2777778,14.0209472 15.1229508,13.8661202 C14.9681239,13.7112933 14.7723133,13.6338798 14.5355191,13.6338798 L9.50819672,13.6338798 C9.27140255,13.6338798 9.07559199,13.7112933 8.92076503,13.8661202 C8.76593807,14.0209472 8.68852459,14.2167577 8.68852459,14.4535519 C8.68852459,14.6903461 8.76593807,14.8861566 8.92076503,15.0409836 C9.07559199,15.1958106 9.27140255,15.273224 9.50819672,15.273224 L9.50819672,15.273224 Z M9.50819672,10.8196721 L14.5355191,10.8196721 C14.7723133,10.8196721 14.9681239,10.7422587 15.1229508,10.5874317 C15.2777778,10.4326047 15.3551913,10.2367942 15.3551913,10 C15.3551913,9.76320583 15.2777778,9.56739526 15.1229508,9.41256831 C14.9681239,9.25774135 14.7723133,9.18032787 14.5355191,9.18032787 L9.50819672,9.18032787 C9.27140255,9.18032787 9.07559199,9.25774135 8.92076503,9.41256831 C8.76593807,9.56739526 8.68852459,9.76320583 8.68852459,10 C8.68852459,10.2367942 8.76593807,10.4326047 8.92076503,10.5874317 C9.07559199,10.7422587 9.27140255,10.8196721 9.50819672,10.8196721 L9.50819672,10.8196721 Z M9.50819672,6.36612022 L14.5355191,6.36612022 C14.7723133,6.36612022 14.9681239,6.28870674 15.1229508,6.13387978 C15.2777778,5.97905282 15.3551913,5.78324226 15.3551913,5.54644809 C15.3551913,5.30965392 15.2777778,5.11384335 15.1229508,4.95901639 C14.9681239,4.80418944 14.7723133,4.72677596 14.5355191,4.72677596 L9.50819672,4.72677596 C9.27140255,4.72677596 9.07559199,4.80874317 8.92076503,4.9726776 C8.76593807,5.13661202 8.68852459,5.32786885 8.68852459,5.54644809 C8.68852459,5.78324226 8.76593807,5.97905282 8.92076503,6.13387978 C9.07559199,6.28870674 9.27140255,6.36612022 9.50819672,6.36612022 L9.50819672,6.36612022 Z M1.8579235,18.1420765 L1.8579235,1.8579235 L1.8579235,18.1420765 Z' id='Shape'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.loading-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='margin: auto;background: transparent;display: block;shape-rendering: auto;' width='200px' height='200px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E%3Ccircle cx='50' cy='50' r='0' fill='none' stroke='%23000000' stroke-width='2'%3E%3Canimate attributeName='r' repeatCount='indefinite' dur='1s' values='0;40' keyTimes='0;1' keySplines='0 0.2 0.8 1' calcMode='spline' begin='0s'/%3E%3Canimate attributeName='opacity' repeatCount='indefinite' dur='1s' values='1;0' keyTimes='0;1' keySplines='0.2 0 0.8 1' calcMode='spline' begin='0s'/%3E%3C/circle%3E%3Ccircle cx='50' cy='50' r='0' fill='none' stroke='%23000000' stroke-width='2'%3E%3Canimate attributeName='r' repeatCount='indefinite' dur='1s' values='0;40' keyTimes='0;1' keySplines='0 0.2 0.8 1' calcMode='spline' begin='-0.5s'/%3E%3Canimate attributeName='opacity' repeatCount='indefinite' dur='1s' values='1;0' keyTimes='0;1' keySplines='0.2 0 0.8 1' calcMode='spline' begin='-0.5s'/%3E%3C/circle%3E%3C!-- %5Bldio%5D generated by https://loading.io/ --%3E%3C/svg%3E");
}

.products-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='22px' viewBox='0 0 20 22' version='1.1'%3E%3Ctitle%3EIcon/Prodotti e produttori Active Copy%3C/title%3E%3Cg id='Amministratore/Prodotti-e-Produttori' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='AMM/Prodotti-e-Produttori-' transform='translate(-1273.000000, -1131.000000)' stroke='%23000000' stroke-width='2'%3E%3Cg id='Group-9' transform='translate(1274.499575, 1132.000000)'%3E%3Cline x1='4.57716395' y1='2.2295545' x2='12.244164' y2='7.1785545' id='Stroke-1'/%3E%3Cpath d='M16.522264,4.8655545 L8.07826395,9.7545545 L8.07826395,19.3755545 C8.07826395,19.6855545 8.41326395,19.8805545 8.68326395,19.7275545 L15.853264,15.6655545 C16.593264,15.2465545 17.050264,14.4625545 17.050264,13.6125545 L17.050264,5.1695545 C17.050264,4.8985545 16.756264,4.7295545 16.522264,4.8655545 Z' id='Stroke-3'/%3E%3Cpath d='M16.886764,4.8774545 L9.41176395,0.267454501 C8.76476395,-0.0955454988 7.97476395,-0.0885454988 7.33376395,0.285454501 L0.163763953,4.4724545 C-0.0522360469,4.5984545 -0.0552360469,4.9104545 0.158763953,5.0404545 L7.90776395,9.7554545' id='Stroke-5'/%3E%3Cpath d='M0.00646395309,4.7037545 L0.000463953086,13.9997545 C0.000463953086,14.7827545 0.102463953,15.4417545 0.779463953,15.8347545 L8.28646395,19.7807545' id='Stroke-7'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.products-variant-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='22px' height='22px' viewBox='0 0 22 22' version='1.1'%3E%3Ctitle%3EIcon/Prodotti e produttori variable%3C/title%3E%3Cg id='Amministratore/Prodotti-e-Produttori' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='AMM/Prodotti-e-Produttori-' transform='translate(-1310.000000, -1131.000000)'%3E%3Cg id='Icon/Prodotti-e-produttori-variable' transform='translate(1311.499575, 1132.000000)'%3E%3Cg id='Icon/Prodotti-e-produttori-Active' transform='translate(0.000000, 0.000000)' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cg id='Group-9'%3E%3Cline x1='4.57716395' y1='2.2295545' x2='12.244164' y2='7.1785545' id='Stroke-1'/%3E%3Cpath d='M16.522264,4.8655545 L8.07826395,9.7545545 L8.07826395,19.3755545 C8.07826395,19.6855545 8.41326395,19.8805545 8.68326395,19.7275545 L15.853264,15.6655545 C16.593264,15.2465545 17.050264,14.4625545 17.050264,13.6125545 L17.050264,5.1695545 C17.050264,4.8985545 16.756264,4.7295545 16.522264,4.8655545 Z' id='Stroke-3'/%3E%3Cpath d='M16.886764,4.8774545 L9.41176395,0.267454501 C8.76476395,-0.0955454988 7.97476395,-0.0885454988 7.33376395,0.285454501 L0.163763953,4.4724545 C-0.0522360469,4.5984545 -0.0552360469,4.9104545 0.158763953,5.0404545 L7.90776395,9.7554545' id='Stroke-5'/%3E%3Cpath d='M0.00646395309,4.7037545 L0.000463953086,13.9997545 C0.000463953086,14.7827545 0.102463953,15.4417545 0.779463953,15.8347545 L8.28646395,19.7807545' id='Stroke-7'/%3E%3C/g%3E%3C/g%3E%3Ccircle id='Oval' fill='%23000000' cx='16.000425' cy='4.5' r='4.5'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.search-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15px' height='15px' viewBox='0 0 15 15' version='1.1'%3E%3Ctitle%3Esearch icon%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Icons/search' fill='%23000000'%3E%3Cpath d='M10.0497577,6.14509246 C10.0497577,8.30111212 8.29628433,10.0556058 6.14151858,10.0556058 C3.98675283,10.0556058 2.23327948,8.30111212 2.23327948,6.14509246 C2.23327948,3.9890728 3.98675283,2.23457908 6.14151858,2.23457908 C8.29628433,2.23457908 10.0497577,3.9890728 10.0497577,6.14509246 L10.0497577,6.14509246 Z M15,13.4288116 L11.2012924,9.62789344 C11.907916,8.60662098 12.2830372,7.38458554 12.2830372,6.14509246 C12.2830372,2.74957972 9.53505654,0 6.14151858,0 C2.74798061,0 0,2.74957972 0,6.14509246 C0,9.5406052 2.74798061,12.2901849 6.14151858,12.2901849 C7.38029079,12.2901849 8.60161551,11.9148455 9.62229402,11.2078107 L13.4210016,15 L15,13.4288116 Z' id='search-icon'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.shipment-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='300' height='300' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath stroke='%23000000' stroke-width='7' fill='%23000000' d='m17.3339,282.67399l265.35,0l0,-265.35l-265.35,0l0,265.35zm269.68,8.6758l-274.02,0c-2.3984,0 -4.3398,-1.9453 -4.3398,-4.3398l0,-274.02c0,-2.3984 1.9414,-4.3398 4.3398,-4.3398l274.02,0c2.3945,0 4.332,1.9414 4.332,4.3398l0,274.02c0,2.3945 -1.9414,4.3398 -4.332,4.3398z' id='svg_24'/%3E%3Cpath stroke-width='4' stroke='%23000000' fill='%23000000' d='m199.0039,141.63399l-2.2383,0c-1.1641,0 -2.2812,-0.46875 -3.0938,-1.3008l-43.668,-44.48l-43.656,44.48c-0.82031,0.83594 -1.9297,1.3008 -3.0938,1.3008l-2.2461,0c-2.3945,0 -4.3398,-1.9414 -4.3398,-4.3398l0,-124.3c0,-2.3984 1.9453,-4.3398 4.3398,-4.3398s4.332,1.9414 4.332,4.3398l0,115.98l41.574,-42.344c0.8125,-0.83203 1.9258,-1.2969 3.0898,-1.2969c1.1641,0 2.2852,0.46875 3.0938,1.2969l41.574,42.344l0,-115.98c0,-2.3984 1.9414,-4.3398 4.332,-4.3398c2.3945,0 4.3398,1.9414 4.3398,4.3398l0,124.3c0,2.3984 -1.9453,4.3398 -4.3398,4.3398l0.0004,0z' id='svg_28'/%3E%3Cpath stroke-width='4' stroke='%23000000' fill='%23000000' d='m196.7639,141.63399c-1.1289,0 -2.2461,-0.4375 -3.0938,-1.3008l-43.668,-44.48l-43.656,44.48c-1.6797,1.7109 -4.4297,1.7383 -6.1289,0.05859c-1.7148,-1.6758 -1.7383,-4.4219 -0.05859,-6.1289l46.754,-47.637c0.8125,-0.83203 1.9258,-1.2969 3.0898,-1.2969c1.1641,0 2.2852,0.46875 3.0938,1.2969l46.766,47.637c1.6758,1.707 1.6484,4.457 -0.05469,6.1289c-0.84766,0.83203 -1.9453,1.2461 -3.0391,1.2461l-0.00452,-0.00389z' id='svg_29'/%3E%3Cpath stroke-width='4' stroke='%23000000' fill='%23000000' d='m79.4039,229.91399l-33.875,0c-2.3945,0 -4.3398,-1.9414 -4.3398,-4.3398c0,-2.3945 1.9453,-4.332 4.3398,-4.332l33.875,0c2.3945,0 4.3398,1.9414 4.3398,4.332c0,2.3984 -1.9453,4.3398 -4.3398,4.3398z' id='svg_30'/%3E%3C/g%3E%3C/svg%3E");
}

.trend-up-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='26px' height='15px' viewBox='0 0 26 15' version='1.1'%3E%3Ctitle%3Etrending_up_FILL0_wght500_GRAD0_opsz48%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='AMM/Sintetiche-bar/Sintetiche-bar' transform='translate(-653.000000, -47.000000)' fill='%23000000' fill-rule='nonzero'%3E%3Cg id='Group-6' transform='translate(653.000000, 34.000000)'%3E%3Cg id='trending_up_FILL0_wght500_GRAD0_opsz48' transform='translate(0.000000, 13.000000)'%3E%3Cpath d='M0.311657177,14.6594411 C0.0934971531,14.4437025 -0.0101288583,14.1902096 0.000779142943,13.8989624 C0.0116871441,13.6077152 0.115313156,13.3434354 0.311657177,13.1061229 L8.45993407,5.04828436 C8.56901408,4.94041504 8.6890021,4.85951305 8.81989811,4.80557839 C8.95079413,4.75164372 9.09259814,4.72467639 9.24531016,4.72467639 C9.39802218,4.72467639 9.53437219,4.75164372 9.6543602,4.80557839 C9.77434822,4.85951305 9.89979023,4.94041504 10.0306862,5.04828436 L14.7102188,9.70823916 L22.2694636,2.20053421 L19.2915793,2.20053421 C18.9643392,2.20053421 18.6970932,2.09805835 18.4898412,1.89310664 C18.2825892,1.68815492 18.1789631,1.42387508 18.1789631,1.1002671 C18.1789631,0.798232998 18.2825892,0.53934662 18.4898412,0.323607972 C18.6970932,0.107869324 18.9643392,0 19.2915793,0 L24.8873839,0 C25.2146239,0 25.4818699,0.107869324 25.689122,0.323607972 C25.896374,0.53934662 26,0.798232998 26,1.1002671 L26,6.63396343 C26,6.93599753 25.896374,7.19488391 25.689122,7.41062256 C25.4818699,7.62636121 25.2255319,7.73423053 24.9201079,7.73423053 C24.6146838,7.73423053 24.3528918,7.62636121 24.1347318,7.41062256 C23.9165718,7.19488391 23.8074918,6.93599753 23.8074918,6.63396343 L23.8074918,3.81857407 L15.4628708,12.0705774 C15.3319748,12.2000205 15.2065328,12.286316 15.0865448,12.3294637 C14.9665568,12.3726115 14.8302068,12.3941853 14.6774948,12.3941853 C14.5247827,12.3941853 14.3829787,12.3726115 14.2520827,12.3294637 C14.1211867,12.286316 14.0011987,12.2000205 13.8921187,12.0705774 L9.21258616,7.44298336 L1.88240935,14.6918019 C1.66424933,14.9075406 1.4024573,15.0100164 1.09703326,14.9992295 C0.79160923,14.9884426 0.529817201,14.8751798 0.311657177,14.6594411 Z' id='Path'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.triangle-down-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='500' height='500' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath transform='rotate(180 250 250)' id='svg_1' d='m486.25527,450.26008c-3.1055,5.3789 -8.8359,8.7109 -15.051,8.75l-442.4,0c-6.2148,-0.03906 -11.945,-3.3711 -15.051,-8.75c-3.125,-5.418 -3.125,-12.086 0,-17.5l221.02,-382.9c2.0469,-3.6055 5.3047,-6.3711 9.1992,-7.8008c3.8906,-1.4258 8.1641,-1.4258 12.055,0c3.8945,1.4297 7.1523,4.1953 9.1992,7.8008l221.02,382.9c1.5352,2.6602 2.3438,5.6758 2.3438,8.75c0,3.0703 -0.80859,6.0898 -2.3438,8.75l0.0086,0z'/%3E%3C/g%3E%3C/svg%3E");
}

.triangle-up-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='500' height='500' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath id='svg_1' d='m486.25527,450.26008c-3.1055,5.3789 -8.8359,8.7109 -15.051,8.75l-442.4,0c-6.2148,-0.03906 -11.945,-3.3711 -15.051,-8.75c-3.125,-5.418 -3.125,-12.086 0,-17.5l221.02,-382.9c2.0469,-3.6055 5.3047,-6.3711 9.1992,-7.8008c3.8906,-1.4258 8.1641,-1.4258 12.055,0c3.8945,1.4297 7.1523,4.1953 9.1992,7.8008l221.02,382.9c1.5352,2.6602 2.3438,5.6758 2.3438,8.75c0,3.0703 -0.80859,6.0898 -2.3438,8.75l0.0086,0z'/%3E%3C/g%3E%3C/svg%3E");
}

.truck-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='20px' viewBox='0 0 24 20' version='1.1'%3E%3Ctitle%3EIcons/Truck%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Icons' transform='translate(-15.000000, -257.000000)'/%3E%3Cg id='Icons/Truck' fill='%23000000' fill-rule='nonzero'%3E%3Cg id='Group' transform='translate(1.000000, 1.000000)'%3E%3Cpath d='M15,-1 L0,-1 C-0.55228475,-1 -1,-0.55228475 -1,0 L-1,13 C-1,13.5522847 -0.55228475,14 0,14 L15,14 C15.5522847,14 16,13.5522847 16,13 L16,0 C16,-0.55228475 15.5522847,-1 15,-1 Z M14,1 L14,12 L1,12 L1,1 L14,1 Z' id='Rectangle'/%3E%3Cpath d='M19,4 L15,4 C14.4477153,4 14,4.44771525 14,5 L14,13 C14,13.5522847 14.4477153,14 15,14 L22,14 C22.5522847,14 23,13.5522847 23,13 L23,8 C23,7.73478351 22.8946432,7.4804296 22.7071068,7.29289322 L19.7071068,4.29289322 C19.5195704,4.10535684 19.2652165,4 19,4 Z M18.585,6 L21,8.415 L21,12 L16,12 L16,6 L18.585,6 Z' id='Path'/%3E%3Cpath d='M4.5,12 C2.56700338,12 1,13.5670034 1,15.5 C1,17.4329966 2.56700338,19 4.5,19 C6.43299662,19 8,17.4329966 8,15.5 C8,13.5670034 6.43299662,12 4.5,12 Z M4.5,14 C5.32842712,14 6,14.6715729 6,15.5 C6,16.3284271 5.32842712,17 4.5,17 C3.67157288,17 3,16.3284271 3,15.5 C3,14.6715729 3.67157288,14 4.5,14 Z' id='Oval'/%3E%3Cpath d='M17.5,12 C15.5670034,12 14,13.5670034 14,15.5 C14,17.4329966 15.5670034,19 17.5,19 C19.4329966,19 21,17.4329966 21,15.5 C21,13.5670034 19.4329966,12 17.5,12 Z M17.5,14 C18.3284271,14 19,14.6715729 19,15.5 C19,16.3284271 18.3284271,17 17.5,17 C16.6715729,17 16,16.3284271 16,15.5 C16,14.6715729 16.6715729,14 17.5,14 Z' id='Oval'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
