<template>
  <div>
    <NuxtLink to="/">
      Home
    </NuxtLink>
    <NuxtLink to="/example-route">
      Routing
    </NuxtLink>
    <slot />
  </div>
</template>
<style lang="scss" scoped>
a {
  margin: 0 20px;
  font-size: larger;
  font-weight: bolder;
  text-decoration: none;
  color: black;
  &.router-link-exact-active {
    color: green;
  }
}
</style>